/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
}

main {
    padding: 2rem 0;
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.tech-item {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(50% - 1rem);
    max-width: 500px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.tech-item img {
    width: 100%;
    height: auto;
    display: block;
}

.tech-info {
    padding: 1rem;
}

.tech-info h2 {
    margin-bottom: 0.5rem;
    color: #4CAF50;
}

.tech-info p {
    font-size: 1rem;
    color: #555;
}

.tech-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}










